[user]
	name = ners
	email = ners@gmx.ch
[core]
	excludesfile = ~/.gitignore
[pull]
	rebase = false
[push]
	default = current
[commit]
	gpgsign = true
[credential]
	helper = libsecret
[includeIf "gitdir:~/Work/"]
	path = ~/Work/.gitconfig
